{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

<p style="text-align:left">
{% for data in userdata %}
        <tr>
            Username: {{ data["username"]}}

        </tr>

        {% endfor %}
</p>

<p style="text-align:left">
{% for data in userdata %}
        <tr>
            Available cash: {{ usd(data["cash"])}}
        </tr>

{% endfor %}
<button class="btn btn-primary" type="submit">Top-up cash</button>
</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>

    </thead>

    <tbody>
        {% for stock in stocks2 %}
        <tr>
            <td>{{ stock["symbol"]}}</td>
            <td>{{ stock["name"]}}</td>
            <td>{{ stock["totalShares"]}}</td>
            <td>{{ usd(stock["price"]) }}</td>
            <td>{{ usd(stock["totalShares"] * stock["price"]) }}</td>
        </tr>
        {% endfor %}

        <tr>
            <td>CASH</td>
            <td colspan="3"></td>
            <td>{{ cash }}</td>
        </tr>
    </tbody>
        <td colspan="4"></td>
        <td>{{total}}</td>
    <tfoot>

    </tfoot>


</table>

<button class="btn btn-primary" type="submit">Top-up cash</button>

{% endblock %}


