{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

<table>

<tr>
<td style="text-align:left">
{% for data in userdata %}

            Username: {{ data["username"]}}

        {% endfor %}
</td>
</tr>

<tr>
<td style="text-align:left">

{% for data in userdata %}

            Available cash: {{ usd(data["cash"])}}

{% endfor %}

</td>


<td style="padding-left: 30px">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="amount" placeholder="Amount" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Top-up</button></td>
</tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>

    </thead>

    <tbody>
        {% for stock in stocks2 %}
        <tr>
            <td>{{ stock["symbol"]}}</td>
            <td>{{ stock["name"]}}</td>
            <td>{{ stock["totalShares"]}}</td>
            <td>{{ usd(stock["price"]) }}</td>
            <td>{{ usd(stock["totalShares"] * stock["price"]) }}</td>
        </tr>
        {% endfor %}

        <tr>
            <td>CASH</td>
            <td colspan="3"></td>
            <td>{{ cash }}</td>
        </tr>
    </tbody>
        <td colspan="4"></td>
        <td>{{total}}</td>
    <tfoot>

    </tfoot>


</table>


{% endblock %}


