{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>

    </thead>

    <tbody>
        {% for stock2 in stocks2 %}
        <tr>
            <td>{{ stock2["symbol"]}}</td>
            <td>{{ stock2["name"]}}</td>
            <td>{{ stock2["totalShares"]}}</td>
            <td>{{ usd(stock2["price"]) }}</td>
            <td>{{ usd(stock2["totalShares"] * stock2["price"]) }}</td>
        </tr>
        {% endfor %}

        <tr>
            <td>CASH</td>
            <td colspan="3"></td>
            <td>{{ cash }}</td>
        </tr>
    </tbody>
        <td colspan="4"></td>
        <td>{{total}}</td>
    <tfoot>

    </tfoot>


</table>

<button class="btn btn-primary" type="submit">Top-up cash</button>

{% endblock %}


